<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: html_head(pageTitle='Shopping Cart')"/>
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .bg-grey {
            background-color: #eae8e8;
        }

        @media (min-width: 992px) {
            .card-registration-2 .bg-grey {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        @media (max-width: 991px) {
            .card-registration-2 .bg-grey {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }
    </style>
    <body style="background-color: #d2c9ff;">
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                            </div>

                                            <th:block th:each="item: ${session.cart}">
                                                <hr class="my-4">

                                                <div class="mb-4 d-flex justify-content-between align-items-center">
                                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                                        <img
                                                                th:src="|@{/images/}${item.value.product.image}|"
                                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                                        <h6 class="text-black mb-0" th:text="${item.value.product.name}"></h6>
                                                    </div>
                                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                        <input th:value="${item.value.quantity}" type="text"
                                                               class="form-control form-control-sm text-center" style="width: 30px"/>
                                                    </div>
                                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                        <h6 class="mb-0" th:text="'$'+ ${item.value.product.price}"></h6>
                                                    </div>
                                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                        <a href="#" class="text-muted"><i class="fas fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </th:block>

                                            <hr class="my-4">

                                            <div class="pt-5">
                                                <h6 class="mb-0"><a th:href="@{/home}" class="text-body"><i
                                                        class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-grey">
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-4">
                                                <h5 class="text-uppercase" th:text="${totalProduct} + ' items'"></h5>
                                                <input id="totalProduct" th:value="${totalProduct}" hidden>
                                                <h5 th:text="'$'+${totalPrice}"></h5>
                                                <input id="totalPrice" th:value="${totalPrice}" hidden>
                                            </div>

                                            <h5 class="text-uppercase mb-3">Shipping</h5>

                                            <div class="mb-4 pb-2">
                                                <select class="form-select" id="shipping" onchange="chooseShipping(value)">
                                                    <option style="display: none">Choose</option>
                                                    <option value="1">Standard-Delivery- $5.00</option>
                                                    <option value="2">Fast-Delivery - $15.00</option>
                                                    <option value="3">3 Hours-Delivery - $30.00</option>
                                                </select>
                                            </div>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">Total price</h5>
                                                <h5 id="priceWithShip"></h5>
                                            </div>

                                            <button type="button" id="checkout" class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark" style="width: 100%">Checkout
                                                <i class="fas fa-long-arrow-alt-right ms-2"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var totalProduct = $('#totalProduct').val();
            if (totalProduct === '0'){
                $('#checkout').prop('disabled', true);
                $('select').prop('disabled', true);
            }
            function chooseShipping(val){
                var totalPrice = parseFloat($('#totalPrice').val());
                switch (val){
                    case '1':
                        totalPrice += 5;
                        break;
                    case '2':
                        totalPrice += 15.0;
                        break;
                    case '3':
                        totalPrice += 30.0;
                        break;
                }
                $('#priceWithShip').html('$' + totalPrice);
            }
        </script>
    </body>
</html>