<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: html_head(pageTitle='Shop HomePage')" />
    <body>
        <!-- Navigation-->
        <nav th:replace="fragments :: homeNavbar"></nav>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="listProduct">
                    <div class="col mb-5" th:each="p: ${productList}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div th:if="${p.sale != 0}" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" th:src="|@{/images/}${p.image}|" alt="..." style="border-bottom: 2px solid #000; height: 157px;" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a class="product-name" th:href="|@{/home/detail/}${p.id}|"><h5 class="fw-bolder" th:text="${p.name}"></h5></a>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="rate" th:attr="data-rate-value=${p.avgRate}" style="font-size: 20px"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span th:unless="${p.sale != 0}" th:text="'$'+${p.price}"></span>
                                    <th:block th:if="${p.sale != 0}" th:with="salePrice = ${p.price - (p.price * p.sale / 100)}">
                                        <span class="text-muted text-decoration-line-through" th:text="'$' + ${p.price}"></span>
                                        <span th:text="'$'+${salePrice}"></span>
                                    </th:block>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:onclick="'addToCart('+ ${p.id} +')'">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-2" style="text-align: center">
                <th:block th:each="i: ${#numbers.sequence(1, pageNumber)}" th:if="${i>0}">
                    <button class="btn btn-primary mx-1" th:text="${i}" th:value="${i - 1}" onclick="selectPage(this)"></button>
                </th:block>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <script th:replace="fragments :: toastrOptions"></script>
        <script>
            function addToCart(id) {
                toastr.options = {
                    "preventDuplicates": false,
                    "timeOut": 500,
                }
                $.ajax({
                    url: '/cart/add?id='+id,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (){
                        toastr.success("Add to cart successfully");
                    },
                    error: function (jqXhr, textStatus, errorMessage){
                        toastr.error("Error");
                    }
                })
            }

            var limit = 8;
            function selectPage(objButton) {
                $.ajax({
                    url: '/home/paging?page=' + objButton.value + '&size=' + limit,
                    type: 'GET',
                    contentType: 'application/json',
                    dateType: 'json',
                    success: function (data) {
                        $('#listProduct div').remove();
                        const obj = data.content;
                        obj.map(p => {
                            if (p.sale != 0) {
                                var salePrice = p.price - (p.price * p.sale / 100);
                                $('#listProduct').append(`
                                        <div class="col mb-5">
                                            <div class="card h-100">
                                                <!-- Sale badge-->
                                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                                <!-- Product image-->
                                                <img class="card-img-top" src="/images/${p.image}" alt="..." style="border-bottom: 2px solid #000; height: 157px;" />
                                                <!-- Product details-->
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <!-- Product name-->
                                                        <a class="product-name" href="/detail/${p.id}"><h5 class="fw-bolder">${p.name}</h5></a>
                                                        <!-- Product reviews-->
                                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                                            <div class="rate" data-rate-value=${p.avgRate}  style="font-size: 20px"></div>
                                                        </div>
                                                        <!-- Product price-->
                                                        <span class="text-muted text-decoration-line-through">$${p.price}</span>
                                                        <span >$${salePrice}</span>
                                                    </div>
                                                </div>
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick=addToCart(${p.id})>Add to cart</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    `)
                            } else {
                                $('#listProduct').append(`
                                        <div class="col mb-5">
                                            <div class="card h-100">
                                               <!-- Product image-->
                                                <img class="card-img-top" src="/images/${p.image}" alt="..." style="border-bottom: 2px solid #000; height: 157px;" />
                                                <!-- Product details-->
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <!-- Product name-->
                                                        <a class="product-name" href="/detail/${p.id}"><h5 class="fw-bolder">${p.name}</h5></a>
                                                        <!-- Product reviews-->
                                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                                            <div class="rate" data-rate-value=${p.avgRate}  style="font-size: 20px"></div>
                                                        </div>
                                                        <!-- Product price-->
                                                        <span>$${p.price}</span>
                                                    </div>
                                                </div>
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick=addToCart(${p.id})>Add to cart</a></div>
                                                </div>
                                            </div>
                                        </div>
                            `)
                            }
                        })
                        $('.rate').rate({
                            readonly: true
                        });
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log('Error' + errorMessage);
                    }
                })
            }
            $(document).ready(function() {
                $('.rate').rate({
                    readonly: true
                });
            })
        </script>
    </body>
</html>
