<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: html_head(pageTitle='Category - SB Admin')" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments :: navbar"></nav>
        <div id="layoutSidenav">
            <div th:replace="fragments :: sidenav"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 mt-4">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h2 class="mb-0 text-gray-800">Category</h2>
                            <a th:href="@{/admin/category/add}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-plus fa-sm"></i> Add Category</a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Category DataTable
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Parent</th>
                                            <th scope="col" colspan="2" style="text-align: center">Config</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Parent</th>
                                            <th scope="col" colspan="2" style="text-align: center">Config</th>
                                        </tr>
                                    </tfoot>
                                    <tbody  id="listCategory">
                                        <tr th:each="c: ${categoryList}">
                                            <td th:text="${c.id}"></td>
                                            <td th:text="${c.name}"></td>
                                            <th:block th:each="parent: ${categoryList}">
                                                <td th:if="${c.categoryParentId == parent.id}" th:text="${parent.name}"></td>
                                            </th:block>
                                            <td th:if="${c.categoryParentId == null}">None</td>
                                            <td style="text-align: center"><a th:href="|@{/admin/category/edit?id=}${c.id}|" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                                                    class="fas fa-pen-to-square fa-sm"></i> Edit</a></td>
                                            <td style="text-align: center"><a th:href="|@{/admin/category/delete?id=}${c.id}|" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
                                                    class="fas fa-trash fa-sm"></i> Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="fragments :: footer"></footer>
            </div>
        </div>
        <script th:replace="fragments :: toastrOptions"></script>
        <script>
            window.onload = function() {
                const { search } = window.location;
                const deleteResult = (new URLSearchParams(search)).get('deleteResult');
                const editResult = (new URLSearchParams(search)).get('editResult');

                if (deleteResult === 'true') {
                    // The page was just reloaded, display the toast:
                    toastr.success('Delete Success');
                } else if (editResult === 'true')  {
                    toastr.success('Edit Success');
                } else if (deleteResult === 'false')  {
                    toastr.error('Delete Fail');
                } else if (editResult === 'false')  {
                    toastr.error('Edit Fail');
                }
            };
        </script>
    </body>


</html>
